<table class="table table-sm table-striped">
    <tbody>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Interests</th>
            <th>Picture</th>
        </tr>
        <tr *ngFor="let person of people">
            <td>{{person.firstName}}</td>
            <td>{{person.lasttName}}</td>
            <td>{{person.address}}</td>
            <td>{{person.age}}</td>
            <td>{{person.interests}}</td>
            <td>
                <img src="data:image/jpeg;base64,{{person.picture}}" alt="Insert picture" />
            </td>     
        </tr>
    </tbody>
</table>